<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.BbsMapper">
    <insert id="regist">
        insert into tbl_bbs(user_id,title,content,display_date,read_cnt,interest,reg_date)
        values (#{user_id},#{title},#{content},#{display_date},#{read_cnt},#{interest},now())
    </insert>

    <select id="listAll" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx, user_id,title,content,display_date,read_cnt,interest,reg_date,modify_date
        from tbl_bbs
        order by idx desc
    </select>

    <select id="view" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx, user_id,title,content,display_date,read_cnt,reg_date,modify_date,interest
        from tbl_bbs
        where idx=#{idx}
    </select>

    <update id="modify">
        update tbl_bbs
        set title = #{title},
        content = #{content},
        interest = #{interest},
        display_date = #{display_date},
        modify_date = now()
        where idx=#{idx}
    </update>

    <delete id="delete">
        delete
        from tbl_bbs
        where idx=#{idx}
    </delete>

    <select id="bbsTotalCount" resultType="int">
        select count(*)
        from tbl_bbs
        <where>
            <foreach collection="search_type" item="type" open="(" close=")" separator=" OR ">
                <if test="type=='t'.toString()">
                    title like concat('%', #{search_word},'%')
                </if>
                <if test="type=='u'.toString()">
                    user_id like concat('%', #{search_word},'%')
                </if>
                <if test="type=='t'.toString()">
                    <trim prefix=" AND ">
                        title like concat('%', #{search_word},'%')
                    </trim>
                </if>
            </foreach>
        </where>
    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx, user_id,title,content,display_date,read_cnt,interest,reg_date,modify_date
        from tbl_bbs
        order by idx desc
        limit #{page_skip_count}, #{page_size}
    </select>
</mapper>